.dashboard-item
  .dashboard-item-header
    - if (shrinkable) {
      a.dashboard-link.toggler(href="javascript:;", title="shrink")
        | -
    - }
    h1.dashboard-item-header-txt
      =title
  .dashboard-item-content.scrollable
    - if (loading) {
      p.dashboard-item-message
        | Loading...
    - } else if (rows.length === 0) {
      p.dashboard-item-message
        | You don't have any events in your system yet.
    - } else {
      table
        thead
          tr
            th(colspan="2")
              | Type
            - if (!singleVehicle) {
            th
              | Vehicle
            - }
            th
              | Info
            th
              | Occurred
            th(colspan="2")
              | Duration
        tbody
          - rows.forEach(function (row, i) {
          -  row = row.attributes;
          -  var title = row.vehicle ? row.vehicle.year+" "+row.vehicle.make+" "+row.vehicle.model+(row.vehicle.name?" "+row.vehicle.name:"") : 'inherit'
            tr(id=row.htmlId, class=['dark','light'][i%2], data-title=title)
              td(width="16", style="vertical-align: middle;")
                img(src=row.icon)
              td(style="font-weight:bold;")
                =row.desc
              - if (!singleVehicle) {
              td
                =row.vehicle.year+" "+row.vehicle.make+" "+row.vehicle.model+(row.vehicle.name?" "+row.vehicle.name:"")
              - }
              - var occured = row.val.date ? row.val.date * 1e3 : row.beg;
              td(style="font-style:italic;")
                =row.note
              td(data-occured=occured, data-time=row.beg, data-time-end=row.end)
                | -
              td(data-duration=(row.end-row.beg))
                | -
              td(align="right")
                div.open-vehicle(role="button", title="Go to event")
                  div
                  span Go
          - })
    - }

