div.dashboard-item
  .dashboard-item-header
    - if (shrinkable) {
    -   if (singleVehicle) {
          span.resize-vertical
            | . . . . .
    -   }
      a.dashboard-link.toggler(href="javascript:;", title="Hide")
        - if (shrunk) {
            | +
        - } else {
            | –
        - }
    - }
    h1.dashboard-item-header-txt
      =title
  .dashboard-item-content.scrollable
    - if (loading) {
      p.dashboard-item-message
        | Loading...
    - } else if (rows.length === 0) {
      p.dashboard-item-message
        | You don't have any events in your system yet.
    - } else {
      table
        thead
          tr
            th(colspan="1")
              | Type
            - if (!singleVehicle) {
            th
              | Vehicle
            - }
            th
              | Info
            th
              | Occurred
            th(colspan="2")
              | Duration
        tbody
          - rows.forEach(function (row, i) {
            - row = row.attributes;
            - var title = row.vehicle ? row.vehicle.doc.title : 'inherit'
            - var info = App.util.getBlurb(row.meta.info, 60)
            - var channels = JSON.stringify(row.val.channels)
            - var replies = row.replies && row.replies.length > 0 ? row.replies.length : null;
            - if (replies > 1) {
            -   replies = ' (' + replies + ' replies)'
            - } else if (replies == 1) {
            -   replies = ' (' + replies + ' reply)'
            - }
            tr(id=row.htmlId, class=['dark','light'][i%2], data-title=title, data-type=row.type, data-id=row.id)
              td(width="16", style="vertical-align: middle;")
                img(src=row.meta.icon)
              - if (!singleVehicle) {
              td.nowrap(style="font-weight:bold;")
                =title
              - }
              - var occured = row.latest ? row.latest * 1e3 : row.beg;
              td.event-info(style="font-style:italic;")= info
                span.row-replies= replies
              td.nowrap(data-occured=occured, data-time=row.beg, data-time-end=row.end, data-channels=channels)
                | -
              td.nowrap(data-duration=(row.end-row.beg))
                | -
              td(align="right")
                div.open-vehicle(role="button", title="Go to event")
                  div
                  span Go
          - })
    - }

