- var replies = note.replies || []
- var numComments = replies.length + 1
- var time = App.util.toLocaleString(new Date(Math.round(note.beg/1e3)),'dddd m/d/yy h:MM:ss TT Z')
- var placeholderTxt = isNew ? "Enter text here." : "Add reply here."
.note(class=onRight ? "left-triangle" : "right-triangle")
  .note-header
    span
      - if (isNew) {
        | Add a comment at
        span(style="font-weight:bold")= time
      - } else {
        =numComments
        - if (numComments > 1) {
          |  comments at 
        - } else {
          |  comment at 
        - }
        span(style="font-weight:bold")= time
      - }
  - if (!isNew) {
    .note-content
      h2.note-user= note.user.displayName
        span.note-content-date= ' ' + App.util.getRelativeTime(note.val.date)
      p.note-body= App.util.formatNoteText(note.val.text)
      - replies.forEach(function (r) {
        h2.note-user-reply= r.user.displayName
          span.note-content-date= ' ' + App.util.getRelativeTime(r.val.date)
        p.note-body= App.util.formatNoteText(r.val.text)
      - })
  - }
  .note-add
    textarea.note-text(placeholder=placeholderTxt)
    .note-channels
      span.note-channels-header Relevant Channels:
      ul
        - if (note.val.channels) {
        - note.val.channels.forEach(function (c, i) {
            li.note-channel(data-channel-name=c.channelName)
              - if (isNew)
                = c.channelName
                a.note-channel-remove(href="javascript:;", title="Remove channel") &nbsp;(&#x2717;)
              - else {
                a.note-channel-link.jstree-draggable= c.channelName
                span(style="color:lightgreen; display: " + (c.onScreen ? "inline;" : "none;"))
                  | &nbsp;&nbsp;&#x2713;
              - }
        - })
        - }
    span.note-message
    .note-actions
      .note-loading
      - if (isNew) {
        a.note-cancel Cancel
        .note-post.little(role="button") Post
      - } else {
        a.note-cancel Close
        .note-post.little(role="button") Reply
      - }
