- var numComments = note.val.replies.length + 1
.note(class=onRight ? "left-triangle" : "right-triangle")
  .note-header
    span
      - if (isNew) {
        | Add a comment at
        span(style="font-weight:bold")= time
      - } else {
        =numComments
        - if (numComments > 1) {
          |  comments at 
        - } else {
          |  comment at 
        - }
        span(style="font-weight:bold")= time
      - }
  - if (!isNew) {
    .note-content
      .note-user= note.val.user.name.first
      .note-body= note.val.text
    .note-replies
      - note.val.replies.forEach(function (r) {
        //.note-user= r.user.name.first
        .note-body= r.text
      - })
  - }
  .note-add
    textarea.note-text(placeholder="Enter text here.")
    .note-channels
      span.note-channels-header Relevant Channels:
      ul
        - note.val.channels.forEach(function (c, i) {
            li.note-channel(data-channel-name=c)= c
              - if (isNew)
                a.note-channel-remove(href="javascript:;", title="Remove channel") &nbsp;(X)
        - })
    span.note-message
    .note-actions
      .note-loading
      - if (isNew) {
        a.note-cancel Cancel
        .note-post.little(role="button") Post
      - } else {
        .note-post.little(role="button") Reply
      - }

