.dashboard-item
  .dashboard-item-header
    - if (shrinkable) {
      a.dashboard-link.toggler(href="javascript:;", title="Hide")
        | –
    - }
    h1.dashboard-item-header-txt
      =title
  .dashboard-item-content.scrollable
    - if (loading) {
      p.dashboard-item-message
        | Loading...
    - } else if (rows.length === 0) {
      p.dashboard-item-message
        | You don't have any vehicles in your system yet.
    - } else {
      table
        thead
          tr
            th
              | Name
            th
              | Team
            th
              | Fleet
            th(colspan="2")
              | Last Seen
        tbody
          - rows.forEach(function (row, i) {
          -  row = row.attributes
          -  var config = row.access.config
          -  var rowStyle = row.lastCycle.beg !== 0 || DEMO ? '' : 'color: #666; cursor: default;';
            tr(id=row.htmlId, class=['dark','light'][i%2], data-title=row.doc.title, title=row.doc.description, style=rowStyle)
              td.nowrap(style="font-weight:bold;")
                span=row.doc.title
                - if (config) {
                  span.edit-panel
                    a.config-link(href="javascript:;", title="Manage vehicle data logging")
                      | Configure
                - }
              td.nowrap(style="font-style:italic;")
                - if (row.teamId) {
                  =App.util.find(row.teamId, '_id', App.user.data.teams).title
                - } else {
                  | -
                - }
              td.nowrap(style="font-style:italic;")
                - if (row.fleetId) {
                  =App.util.find(row.fleetId, '_id', App.user.data.fleets).title
                - } else {
                  | -
                - }
              td.nowrap(colspan="2", data-time=row.lastCycle ? row.lastCycle.end : null, data-cycle=JSON.stringify(row.lastCycle))
                | -
              td.row-arrow(align="right")
                - if (row.lastCycle.beg !== 0 || DEMO)
                    span.arrow &rarr;
                - else
                  | &nbsp;
          - })
    - }

