- var color = indexInCollection % 2 ? 'dark' : 'light';
div.tr
  div.td.expand(class=color)
    a.expander(href="javascript:;", id="vehicle-" + row._id.vid)
      img(src="/gfx/arrow.png")
  div.td.leftest(class=color)
    =row.year + ' ' + row.make + ' ' + row.model
  div.td(class=color)
    =row._id.vid
  div.td(class=color) 4,615
  div.td(class=color) 8 hours ago
  div.td(class=color)
    a.row-link(href="javascript:;", id="ev-rating-" + 8.5) 8.5
div.tr.row-details
  div.td
    div.details
      div.details-bar-top
      div.details-bar-bottom
      div.details-loader-wrap
        div.details-loader
          span Loading driving data...