- var color = indexInCollection % 2 ? 'dark' : 'light';
- var miles = (Math.random() * 10000).toFixed(2);
- var last = Math.round(Math.random() * 90);
- var rate = (Math.random() * 10).toFixed(2);
div.tr
  div.td.expand(class=color)
    a.expander(href="javascript:;", id="vehicle-" + row._id.vid)
      img(src="/gfx/arrow.png")
  div.td.leftest(class=color)
    =row.year + ' ' + row.make + ' ' + row.model
  div.td(class=color)
    =row._id.vid
  div.td.number(class=color)
    =miles
  div.td(class=color)
    =last + ' minutes ago'
  div.td(class=color)
    a.row-link(href="javascript:;", id="ev-rating-" + rate)
      =rate
div.tr.row-details
  div.td
    div.details-wrap
      div.details
        div.details-left
          div.details-loader-wrap.map-loading
            span Loading map data...
          div.map.map-tmp
        div.details-bar-middle
          img.resize-x(src="/gfx/resize-vertical.png")
        div.details-right
          div.details-loader-wrap.series-loading
            span Loading time series data...
      div.details-bar-top
      div.details-bar-bottom
        img.resize-y(src="/gfx/resize-horizontal.png")