doctype html
html(lang="en")
  head
    meta(property="og:site_name", content="Skyline")
    meta(property="fb:app_id", content="")
    - if (typeof key !== 'undefined')
      meta(property="og:url", content="http://www.skyline.io/#{key}")
    - else
      meta(property="og:url", content="http://www.skyline.io")
    - if (typeof title !== 'undefined')
      meta(property="og:title", content="Skyline | #{title}")
    - else
      meta(property="og:title", content="Skyline | ")
    - if (typeof body !== 'undefined')
      meta(property="og:description", content="#{body}")
    - else
      meta(property="og:description", content="")
    - if (typeof title !== 'undefined')
      title= title
    - else
      title Skyline
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="author", content="")
    meta(charset="UTF-8")
    link(rel="shortcut icon", href="#{root}/img/favicon.ico", type="image/x-icon")
  body
